.div-stepper {
	display: flex;
	justify-content: center;
	background-color: #f0f0f5;
	width: 34%;
	padding-top: 20.8rem;
}

.stepper-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border: 1px solid #0e8750;
	border-radius: 50%;
}

.stepper-fill {
	background-color: #0e8750;
}

.line-down {
	height: 40px;
	border-right: 3px solid #0e8750;
	margin: 4px 0;
}

.pr-24 {
	padding-right: 24px;
}

.div-register {
	display: flex;
	justify-content: center;
	margin-top: 20.8rem;
}
