.btn {
	font-family: "Nunito";
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.5rem;
	background-color: #da0175;
	color: #f8f8f9;
	border: none;
	border-radius: 10px;
	padding: 4px 40px;
	margin-top: 50px;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.7;
}
