.input {
	width: 368px;
	border-radius: 8px;
	padding: 10px 14px;
	border: 1px solid #d0d5dd;
	margin-top: 6px;
}

label.data-label {
	margin-top: 20px;
}

.font-form-error {
	font-family: "Nunito";
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #971d1d;
}

.align-form-error {
	margin-top: 5px;
	margin-left: 10px;
}

.danger-border-error {
	border: 1px solid red;
}

.danger-border-error:active {
	border: 1px solid red;
}
