body {
	background-color: #f8f8f9;
}

.container-tables {
	padding: 0 80px 0 108px;
}

.divisor-profile {
	margin: 24px 0;
	color: #acd9c5;
	background-color: #acd9c5;
	border: 1px solid #acd9c5;
}

navbar {
	display: flex;
	min-height: 100vh;
	width: 10.8rem;
	background-color: #f0f0f5;
	padding-top: 55px;
}

.gap-nav-items {
	gap: 81px;
}

.gap-charge-cards {
	width: 100%;
	gap: 36px;
}

.gap-table-cards {
	width: 100%;
	gap: 32px;
	margin-top: 46px;
}

.profile-gap {
	gap: 10px;
}
