

*{
	margin: 0;
	padding: 0;
}

.header{
	margin: 40px 142.34px 0px 82px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 26px;
	line-height: 130%;
}

.header-menu{
	width: 150px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.initials{
	width: 48px;
	height: 48px;
	padding: 9px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #0E8750;

	background: #DEDEE9;
	border-radius: 50%;
}

.header-menu h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #0E8750;
}

.header-menu img{
	width: 14px;
	height: 8px;
}
