@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Nunito:wght@400;600;700&display=swap");

.page-charges {
    display: flex;
    width: 100%;
}

.page-charge-rigth {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 108px 0 60px;
    margin-top: 54px;
}

header p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0e8750;
}

.page-charge-header {
    margin-bottom: 24px;
}

.hr-charge-botton-header {
    margin: 4px 32px 24px 32px;
    color: #acd9c5;
    background-color: #acd9c5;
    border: 1px solid #acd9c5;
}

.centralize-charge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.charge-area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1123px;
}

.img-h3-charge-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.img-h3-charge-header img {
    width: 32px;
    height: 32px;
}

.img-h3-charge-header h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #3f3f55;
}

.charge-interaction-img-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.charge-interaction-img-input input {
    width: 266px;
    padding: 7px 0;
    padding-left: 15px;
    border-radius: 10px;
    border-style: none;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #747488;
}

.charge-centralize-position-relative {
    position: relative;
}

.charge-centralize-position-relative img {
    position: absolute;
    top: 7px;
    right: 10px;
}

.table-charge table {
    width: 1116px;

    display: table;

    border-collapse: separate;
    text-align: center;

    margin-top: 31px;
    padding: 12px 24.5px 20px 24.5px;

    background: #ffffff;
    border-radius: 30px;
}

.table-charge table thead {
    display: table-header-group;
}

.table-charge table thead tr {
    display: table-row;
}

.table-charge table tbody {
    display: table-row-group;
}

.table-charge table th {
    display: table-cell;

    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #3f3f55;
}

.table-charge table th img {
    width: 22.5px;
    height: 20px;

    margin-right: 5px;
}

.table-charge td {
    display: table-cell;

    padding-top: 8px;
    border-top: 1px solid rgba(239, 240, 246, 1);

    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #747488;
}
.img-charge-table {
    width: 75px;

    display: flex;
    align-items:center;
    justify-content: space-between;
}