@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Nunito:wght@400;600;700&display=swap');

.centralize {
    width: 100%;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 108px 0 60px;
    margin-top: 54px;
    width: 100%;
}

header p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0E8750;
}

.container-clients-margin{
    margin-bottom: 24px;
}

.hr-clients {
    margin: 4px 32px 24px 32px;
    color: #acd9c5;
    background-color: #acd9c5;
    border: 1px solid #acd9c5;
}


.client-area {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client-area-header {
    width: 1123px;

    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.theme {
    width: 134px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme img {
    width: 32px;
    height: 32px;
}

.theme h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #3F3F55;
}

.customer-interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-interaction button {
    width: 266px;
    height: 33px;

    background: #DA0175;
    border-radius: 10px;
    border-style: none;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;

}

.customer-interaction img {
    width: 40px;
    height: 40px;
    margin: 0px 16px 0px 16px;
}

.customer-interaction input {
    width: 266px;
    height: 33px;

    padding-left: 15px;

    border-radius: 10px;
    border-style: none;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #747488;
}

.customer-interaction .img-insert{
    position: relative;

    display: flex;
}

.customer-interaction .img-insert .img-position{
    width: 24px;
    height: 24px;

    position:absolute;
    
 
}

.line-with-titles table {
    width: 1116px;

    display: table;

    border-collapse: separate;
    text-align: center;

    margin-top: 31px;
    padding: 12px 24.5px 20px 24.5px;

    background: #FFFFFF;
    border-radius: 30px;
}

.line-with-titles table thead {
    display: table-header-group;
}

.line-with-titles table thead tr {
    display: table-row;

}

.line-with-titles table tbody {
    display: table-row-group;

}

.line-with-titles table th {
    display: table-cell;

    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    color: #3F3F55;

}

.line-with-titles table th img {
    width: 22.5px;
    height: 20px;

    margin-right: 5px;
}

.center-order {
    display: flex;
    align-items: center;
}

.line-with-titles table td {
    display: table-cell;

    padding-top: 8px;
    border-top: 1px solid rgba(239, 240, 246, 1);

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #747488;
}

.status {
    width: 99px;
    height: 5px;

    padding: 0px 8px;
    gap: 4px;

    background: #FFEFEF;
    border-radius: 8px;
}

.line-with-titles table td img {
    width: 35px;
    height: 35px;
}