.register-clients {
    width: 100vw;
    height: 100vh;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(145, 154, 150, 0.3);
}

.container {
    width: 600px;
    height: 758px;

    padding: 30.18px 30.67px 40.78px 30.67px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
    border-radius: 30px;
}

.container img {
    width: 32px;
    height: 29.69px;

    display: flex;
    justify-self: right;
}

.container-header {
    width: 478px;

    display: flex;
    justify-content: space-between;

}

.container-header .theme-modal {
    width: 312px;

    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header .theme-modal img {
    width: 32px;
    height: 32px;
}

.container-header .theme-modal h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #3F3F55;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpf-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cep-district {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.city-uf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.buttons{
    margin-top: 57.81px;
    
    display: flex;
    gap: 24px;
}

.buttons .cancel {
    width: 233.98px;
    height: 33px;

    background: #F8F8F9;
    border: 1px solid #DEDEE9;
    border-radius: 10px;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #0E8750;
}

.buttons .apply {
    width: 233.98px;
    height: 33px;

    background: #DA0175;
    border: 1px solid #DEDEE9;
    border-radius: 10px;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;
}