@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@400;600;700&display=swap');

.modal-del-charge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(145, 154, 150, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-white-del {
    width: 600px;
    height: 400px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
    border-radius: 30px;
}

.close-charge-delete {
    position: absolute;
    top: 30.18px;
    right: 30.67px;

    cursor: pointer;
}

.warning-del-charge {
    margin-top: 50.19px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.warning-del-charge p {
    margin: 20.73px 0px 26.85px 0px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #CC7800;
}

.no {
    width: 100px;
    height: 24px;

    background: #F2D6D0;
    border-radius: 4px;
    border-style: none;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #AE1100;


}

.yes {
    width: 100px;
    height: 24px;

    margin-left: 16px;

    background: #ACD9C5;
    border-radius: 4px;
    border-style: none;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #034A2A;
}