.img-position {
	background-position: center;
	background-size: cover;
	width: 36%;
	min-height: 100vh;
}

.container-sign-in {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
