.container-table-clients {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	min-width: 500px;
	border-radius: 25px;
	padding: 15px 0;
}

.margin-right-img {
	margin-right: 12px;
}

.table-charge-div-title {
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.table-charge-div-subtitle {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	padding-top: 10px;
}

.font-charge-subtitle {
	font-family: "Nunito";
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 5rem;
	letter-spacing: 0.005em;
	color: #3f3f55;
	border-top: 1px solid #eff0f6;
	border-bottom: 1px solid #eff0f6;
	padding: 0 15px;
	text-align: center;
}

.font-charge-info {
	font-family: "Nunito";
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 4rem;
	letter-spacing: 0.005em;
	color: #6e6e85;
	border-bottom: 1px solid #eff0f6;
	padding: 0 10px;
	text-align: center;
}
span.table-charge-count {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.1rem;
	color: #971d1d;
	background-color: #ffefef;
	border-radius: 8px;
	padding: 0 15px;
}

span.table-charge-footer {
	color: #da0175;
	text-decoration: underline;
	font-family: "Nunito";
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 2.3rem;
	cursor: pointer;
	margin: 13px 0 12px 0;
}
