@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@400;600;700&display=swap');

.modal-edit-charge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(145, 154, 150, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.conteiner-edit-chage-white {
    width: 576px;
    height: 754px;

    position: relative;

    padding: 0px 29.44px 0px 54.72px;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 30px;
}

.close-modal-chage {
    width: 17.92px;
    height: 20.72px;

    position: absolute;
    top: 36.25px;
    right: 29.44px;
}

.theme-edit-charge-modal {
    margin-top: 51px;

    display: flex;
    align-items: center;
}

.theme-edit-charge-modal img {
    width: 32px;
    height: 32px;
}

.theme-edit-charge-modal h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #3f3f55;
}

.conteiner-edit-chage-white form {
    margin-top: 7px;

    display: flex;
    flex-direction: column;
}

.conteiner-edit-chage-white label {
    margin: 16px 0px 4px 0px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #3F3F55;
}

.input-charges {
    width: 485px;
    height: 44px;

    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.description {
    width: 485px;
    height: 88px;

    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.conteiner-edit-chage-white ::placeholder {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
}
.select-input-charges{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.status-charge-input-select {
    width: 487px;
    height: 48px;

    display: flex;
    align-items: flex-start;

    background: #F0F0F5;
    border-radius: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #3F3F55;
}

.status-charge-input-select checkbox {
    background: #0E8750;
    border-radius: 25px;
}

.button-edit-charge-modal {
    margin-top: 56.81px;
}

.cancel {
    width: 230.5px;
    height: 34px;

    background: #F8F8F9;
    border: 1px solid #DEDEE9;
    border-radius: 10px;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #0E8750;
}

.next {
    width: 230.5px;
    height: 34px;

    margin-left: 23.25px;

    background: #DA0175;
    border: rgba(218, 1, 117, 1);
    border-radius: 10px;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #F8F8F9;
}