.container {
	display: flex;
	min-height: 100vh;
}

.div-register {
	width: 66%;
}

.footer-menu-title {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-top: 19px;
}

span.pink {
	color: #da0175;
	margin-left: 3px;
	text-decoration: underline;
}

.lines {
	display: flex;
	justify-content: center;
	margin-top: 25rem;
	gap: 8px;
}

a {
	text-decoration: none;
}

.white {
	color: #f8f8f9;
}
