.container-sign-up {
	display: flex;
	min-width: 100vw;
	min-height: 100vh;
}

.div-register {
	display: flex;
	min-width: 60vw;
}

.footer-menu-title {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-top: 19px;
}

span.pink {
	color: #da0175;
	margin-left: 3px;
	text-decoration: underline;
}

a {
	text-decoration: none;
}

.lines {
	display: flex;
	justify-content: center;
	margin-top: 25rem;
	gap: 8px;
}

.lines-final {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
	gap: 8px;
}

@media (max-width: 1440px) {
	.lines {
		margin-top: 8.5rem;
	}

	.div-register {
		min-width: 55vw;
	}
}
