.container-navlink {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.container-navlink hr {
	border: 1px solid #da0175;
	background-color: #da0175;
}

.hidden {
	display: none;
}

.navlink-font {
	font-family: "Nunito";
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.container-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	cursor: pointer;
}
